{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Fantasy Player Information {% endblock %}</h1>
    {% for player in players %}
    <br>
        <a href="{{ url_for('viewPlayer', player_id=player['player_id']) }}">
            <h3>{{player["player_name"]}} - {{player["team_name"]}}</h3>
        </a>
        <h5><span class="badge badge-primary"> {{player["position"]}}</span> &nbsp; Average Draft Position: {{player["adp"]}}</h5>
        
        <hr>
    {% endfor %}
{% endblock %}